*{
    margin: 0;
}
p{
    font-size: 1rem ;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    background-color: aqua;
}
.grid.tiem{
    background-color: blanchedalmond;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    columns: 5px;
    padding: 10px;
    justify-content: space-between;
    margin: 10px;
}
.nav-item{
    background-color: beige;
}
.nav-item-container{
    display: flex;
    column-gap: 5px;
}
.seven-o{
    text-align: center;
    font-size: 20px;
}
.img{
    text-align: center;
}
.four-tree{
    text-align: center;
    font-size: 30px;
}